.timer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 8px;
  height: 200px;
  width: 100%;
  cursor: default;
  user-select: none;

  span{
    font-family: 'Rajdhani', sans-serif;
    color: var(--text);
    font-weight: 600;
    font-size: 150px;
  }
}