.pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  width: 100%;
  gap: 30px;

  .line {
    width: 100%;
    border: 1px solid var(--light-grey);
  }

  .btnConfig {
    background: var(--green);

    &:hover {
      background: var(--neon-green);
    }
  }

  .btnStart {
    background: var(--purple);

    &:hover {
      background: var(--dark-purple);
    }
  }

  .btnStop {
    background: var(--red);

    &:hover {
      background: var(--dark-red);
    }
  }

  button {
    width: 100%;
    height: 80px;
    font-weight: 600;

    &:disabled {
      background: var(--grey);
      cursor: not-allowed;

      &:hover {
        background: var(--grey);
      }
    }
  }

  @media (max-width: 430px) {
    .timer {
      span {
        font-size: 100px;
      }
    }

    .tabs {
      button {
        width: 90px;
        font-size: 10px;
      }
    }
  }
}
